<div class="container-fluid">
    <h4>{{ titleComponent }}</h4>
     <div class="row g-2 align-items-center">
          <div class="col-12 col-md-6">
              <input class="form-control" placeholder="Buscar...">
        </div>
          <div class="col-12 col-md-6 d-flex justify-content-md-end">
              <button class="btn btn-outline-primary">Agregar Mascota</button>
        </div>
    </div>
    <br>
    <div class="table table-responsive table-condensed">
        <table class="table table-stripped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">
                        Nombre
                    </th>
                    <th class="text-center">
                        Edad
                    </th>
                    <th class="text-center">
                        Fecha de registro
                    </th>
                    <th class="text-center">
                        Cliente
                    </th>
                    <th class="text-center">
                        Raza
                    </th>
                    <th class="text-center">
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="mascotas.length === 0">
                <tr>
                    <td colspan="6" class="text-center">No hay resultados disponibles</td>
                </tr>
            </tbody>
            <tbody *ngIf="mascotas.length > 0">
                <tr *ngFor="let mascota of mascotas">
                    <td>{{ mascota.nombreMascota }}</td>
                    <td>{{ mascota.edad }}</td>
                    <td>{{ mascota.fechaRegistro | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ mascota.cliente.nombres }} {{ mascota.cliente.apellidos }}</td>
                    <td>{{ mascota.raza.nombre }}</td>
                    <td>Botones</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>